# Application
APP_ENV=development
SERVER_PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecomm
DB_SSLMODE=disable

# Auth - must be at least 32 characters
SECRET_KEY=
